@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* Force dark mode */
html {
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

/* Ensure dark mode is applied */
:root.dark,
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
  color-scheme: dark;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

/* Slider for mobile */
.slider-container {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch;
}

.slider-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.slider-item {
  flex: 0 0 auto;
  width: 85%;
  scroll-snap-align: center;
}

@media (min-width: 768px) {
  .slider-item {
    width: auto;
  }
}

